/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F3F4;
  color: #161A1D;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum viewport height */
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #0B090A;
  color: #FFFFFF;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  background-color: #660708;
  color: #FFFFFF;
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.hero .cta {
  background-color: #E5383B;
  color: #FFFFFF;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero .cta:hover {
  background-color: #BA181B;
}

.courses {
  padding: 50px 0;
  text-align: center;
  flex: 1; /* Flex grow to take remaining space */
}

.course {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  margin: 20px auto;
  padding: 30px;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.course:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.course h3 {
  color: #A4161A;
  font-size: 2rem;
  margin-bottom: 10px;
}

.course p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.course .cta {
  background-color: #A4161A;
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.course .cta:hover {
  background-color: #660708;
}

footer {
  background-color: #0B090A;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

footer .social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer .social li {
  margin: 0 10px;
}

footer .social li a {
  color: #FFFFFF;
  font-size: 1.5rem;
  text-decoration: none;
}

footer .social li a:hover {
  color: #E5383B;
}
